# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* Order list
* Unordered list
* Titles
* Code cells
* Markdown cells

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Ploty
3. ggplot2
4. Numpy
5. dplyr

|Data Science Tools|
|------|
|Python|
|Anaconda| 
|Postgre SQL| 
|R|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
addition = 10 + 5 + 7
print(addition)

22

In [13]:
subtraction = 10 - 5
print(subtraction)

5

In [15]:
product = 5 * 20
print(product)

100

This a simple arithmetic expression to mutiply then add integers.

In [16]:
expression = (3*4)+5
print(expression)

17

This will convert 200 minutes to hours by diving by 60.

In [17]:
convert = 200 / 60
print(convert)

3.3333333333333335

## Author
Martín Garcés